* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #cbc8e6;
  overflow-x: hidden;
}

header {
  background-image: url(images/bg.jpg);
  background-size: cover;
  width: 100%;
  height: 40em;
}

header h1 {
  background-color: #261e6e;
  color: #cbc8e6;
  display: inline-block;
  padding: .5em 3em;
  font-size: 2.5em;
  margin-top: 5em;
  border-radius: 0 .25em .25em 0;
  transition: .75s;
  font-weight: 500;
}

header h2 {
  background-color: #261e6e;
  color: #cbc8e6;
  display: inline-block;
  padding: .5em 3.75em;
  font-size: 2em;
  border-radius: 0 .25em .25em 0;
  transition: .75s;
  font-weight: 500;
}

header h1:hover {
  padding: .5em 4em;
}

header h2:hover {
  padding: .5em 4.75em;
}

/* Section */
section .words {
  margin: 3em 8em;
  width: 60%;
}

section h2 {
  text-align: justify;
  font-size: 1.2em;
  font-weight: 500;
}

section h1 {
  display: inline-block;
  padding: .5em 3em;
  background-color: #261e6e;
  color: #cbc8e6;
  border-radius: 0 .25em .25em 0;
}

section .countries {
  font-size: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1em 24em 0;
}

.countries .c {
  background-color: #0893ca;
  color: #cbc8e6;
  padding: .6em 1.2em;
  border-radius: .25em;
  margin: .5em;
}

.countries .v {
  background-color: #974aca;
  color: #cbc8e6;
  padding: .6em 1.2em;
  border-radius: .25em;
  margin: .5em;
}

section img {
  margin: 0 13em;
  display: block;
  padding: .5em;
  border-radius: .5em;
}