* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rowdies', cursive;
  font-weight: 300;
}

body {
  scroll-behavior: smooth;
  background-color: #e0e1dd;
}

i {
  font-size: 2.2em;
}

a {
  color: rgb(233, 233, 233);
  text-decoration: none;
  font-size: 1em;
}

header {
  background-color: #1b263b;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.logo span {
  font-size: 2em;
  margin: 0 10px;
}

section {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
}

.main-column {
  width: 80%;
  background-color: #92a8c5;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  box-shadow: 0 0 5px #1b263b;
  color: #082a57;
}

.image {
  width: 316px;
  height: 448px;
  box-shadow: 0 0 6px #1b263b;
  margin: 1em;
}

.image img {
  background-size: cover;
}

.sidebar {
  width: 20%;
  background-color: #5a718b;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 5px #1b263b;
  color: #e0e1dd;
}

.sidebar h2 {
  display: inherit;
  align-items: center;
}

.sidebar h2 i {
  font-size: 0.75em;
  margin-right: 0.3em;
}

.sidebar li {
  margin: 0.625em 0;
}

footer {
  background-color: #1b263b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #f8ffb4;
  margin: 1em;
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }

  .main-column {
    width: auto;
    order: 1;
  }

  .sidebar {
    width: auto;

  }
}